default:
    image: weltn24/up-docker-node-chrome-headless:chrome-66_node-10.0_yarn-1.6.0
stages:
    - test
    - e2e
    - deploy

test:
    stage: test
    script:
        - npm test

e2e:
    stage: e2e
    image: cronn/nodejs-chrome-firefox
    before_script:
        - apt-get -y install openjdk-8-jre
    script:
        - npm run e2e

deploy:
    stage: deploy
    image: node
    script:
        - npm install @semantic-release/git
        - npm install @semantic-release/gitlab
        - npx semantic-release
    only:
        - master
