{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/npm",
        "@semantic-release/git",
        [
            "@semantic-release/gitlab",
            {
                "assets": [
                    "src/**"
                ]
            }
        ]
    ],
    "preset": "angular",
    "branch": "master"
}
