<div class="deck_container">
    <div class="nav">
        <div class="nav_buttons">
            <button
                ng-click="toggleAutoCommence()"
                type="button"
                class="auto_button btn btn-primary"
                ng-hide="$ctrl.slides.length <= 1"
            >
                {{$ctrl.autoCommenceTimeout ? "Stop" : "Start"}}
            </button>
            <button
                ng-click="prev()"
                ng-hide="$ctrl.autoCommenceTimeout || $ctrl.slides.length <= 1"
                type="button"
                class="prev_button btn btn-primary"
            >
                Previous
            </button>
            <button
                ng-click="next()"
                ng-hide="$ctrl.autoCommenceTimeout || $ctrl.slides.length <= 1"
                type="button"
                class="next_button btn btn-primary"
            >
                Next
            </button>
        </div>
        <span
            >Total of {{$ctrl.slides.length}} slide{{$ctrl.slides.length > 1 ?
            "s" : ""}}.</span
        >
    </div>
    <div class="slides" ng-transclude></div>
</div>
