.deck_container {
    width: fit-content;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.slides {
    width: fit-content;
    max-width: 100vw;
    overflow: auto;
    background-color: inherit;
    margin-bottom: -1em;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
